[staticPage]
useContent = 0
default = 0

[staticMenu]
code = "main-menu"

forceUrl = 0
==
{% partial 'head' %}
<body>
  {#
  # Repeater definitions
  #}
  {repeater
    name="sections"
    groups="themes/blocks/meta/sections/about/sections-about.yaml"
    tab="Blocks"
    prompt="Add new section"
    style="collapsed"
  }
    {variable name="_dummy" type="text"}{/variable}
  {/repeater}

  {% partial 'header' %}

  <main>
    {#
    # Rendering blocks
    #}
    {% for section in sections %}
      <!-- must reside in partials/blocks/{name_of_group} -->
      {% partial 'blocks/about/' ~ section._group data=section %}
    {% endfor %}

    {# <section id="top-management" class="py-24 bg-slate-100 scroll-mt-24">
      <div class="container max-w-screen-xl px-4 md:px-8 mx-auto">
        <h2 class="text-3xl md:text-4xl font-bold text-tgi-darkblue text-center mb-8">
          Top Management
        </h2>
        <div class="mt-16">
          <h3 class="text-3xl text-tgi-green text-center font-bold mb-8">Directors</h3>
          <div class="px-4 xl:px-28">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-x-10">
              <label
                for="anak"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/anak.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Anak Agung Putu Bagus Putra Tinggal
                  </h4>
                  <div class="text-slate-500 text-sm">President Director</div>
                </div>
              </label>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/sahat.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Sahat Parlindungan Simarmata
                  </h4>
                  <div class="text-slate-500 text-sm">
                    Director of Finance and Administration
                  </div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/razif.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Razif bin Mat Saat
                  </h4>
                  <div class="text-slate-500 text-sm">Director of Operations</div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/vinolia.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Vinolia Suriyanto
                  </h4>
                  <div class="text-slate-500 text-sm">Director of Business Development</div>
                </div>
              </a>
            </div>
            <input type="checkbox" id="anak" class="modal-toggle" />
            <label for="anak" class="modal cursor-pointer modal-bottom sm:modal-middle">
              <label class="modal-box relative !max-w-3xl" for="">
                <label for="anak" class="btn btn-sm btn-circle absolute right-2 top-2">
                  ✕
                </label>
                <div class="flex">
                  <div class="w-[220px] shrink-0">
                    <div class="aspect-w-1 aspect-h-1">
                      <img src="{{ 'assets/images/team/anak.jpg'|theme }}" alt="" class="h-full w-full object-cover rounded-xl" />
                    </div>
                  </div>
                  <div class="pl-8">
                    <div class="pt-3 pr-12">
                      <h4 class="text-tgi-darkblue leading-tight font-semibold text-2xl mb-2">
                        Anak Agung Putu Bagus Putra Tinggal
                      </h4>
                      <div class="text-slate-700 text-base">President Director</div>
                    </div>
                    <div class="prose mt-4 text-sm">
                      <p>
                        Diangkat sebagai Direktur Utama berdasarkan Circular Resolution dari
                        Pemegang Saham No. 172.CR-SH/CS-PD/03.2022.
                      </p>
                      <ul>
                        <li>
                          PT PGAS Telekomunikasi Nusantara, Direktur Teknis & Operasi Mei 2019 –
                          Juni 2021.
                        </li>
                        <li>
                          Kepala Divisi, Manajemen Transmisi Gas, Transmisi Strategic Business
                          Unit (SBU) Sumatra – Jawa, PT Perusahaan Gas Negara Tbk. Nov 2015 –
                          Mei 2019.
                        </li>
                        <li>
                          Asisten VP Manajemen Transportasi Gas, Unit Bisnis Strategis Transmisi
                          Gas Sumatra Jawa, Cilegon Banten, PT Perusahaan Gas Negara (Persero)
                          Tbk. Feb 2010 – Mar 2012.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </label>
            </label>
          </div>
        </div>
        <div class="mt-16">
          <h3 class="text-3xl text-tgi-green text-center font-bold mb-8">Commisioners</h3>
          <div class="px-0">
            <div class="grid grid-cols-5 gap-x-10">
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/redy.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Redy Ferryanto
                  </h4>
                  <div class="text-slate-500 text-sm">President Commisioner</div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/blank.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Yuzaini MD Yusuf
                  </h4>
                  <div class="text-slate-500 text-sm">Vice President Commissioner</div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/arudji.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Arudji Wahyono
                  </h4>
                  <div class="text-slate-500 text-sm">Commisioner</div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/arifin.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Arifin Rudiyanto
                  </h4>
                  <div class="text-slate-500 text-sm">Commisioner</div>
                </div>
              </a>
              <a
                href="#"
                class="block bg-white rounded-2xl overflow-hidden shadow-md cursor-pointer hover:shadow-xl transition duration-300"
              >
                <div class="aspect-w-6 aspect-h-5">
                  <img src="{{ 'assets/images/team/blank.jpg'|theme }}" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="p-5">
                  <h4 class="text-tgi-darkblue leading-tight font-semibold mb-2">
                    Ronald Gunawan
                  </h4>
                  <div class="text-slate-500 text-sm">Commisioner</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> #}

  </main>

  {% partial 'footer' %}
  {% scripts %}
</body>
</html>