[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"
==
<!DOCTYPE html>
<html lang="{{ this.page.activeLocale ?: 'en' }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>

    <style type="postcss">
    ::selection {
        @apply text-white bg-blue-300;
    }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}" />
    <link rel="stylesheet" href="{{ 'assets/styles.css'|theme }}" />
    {% styles %}
</head>
<body>
  {#
    # Repeater definitions
    #}
  {repeater
    name="sections"
    groups="themes/blocks/meta/sections.yaml"
    tab="Blocks"
    prompt="Add new section"
    style="accordion"
  }
    {variable name="_dummy" type="text"}{/variable}
  {/repeater}

  {% partial 'header' %}

  <main>
    {#
      # Rendering blocks
      #}
    {% for section in sections %}
        <!-- must reside in partials/blocks/{name_of_group} -->
        {% partial 'blocks/' ~ section._group data=section %}
    {% endfor %}

  </main>

  {% partial 'footer' %}
  {% scripts %}
</body>
</html>