[staticPage]
useContent = 0
default = 0

[staticMenu]
code = "main-menu"
==
{% partial 'head' %}
<body>
  {#
    # Repeater definitions
    #}
  {repeater
    name="sections"
    groups="themes/blocks/meta/sections/homepage/sections-homepage.yaml"
    tab="Sections"
    prompt="Add new section"
    style="collapsed"
  }
    {variable name="_dummy" type="text"}{/variable}
  {/repeater}

  {% partial 'header' %}

  <main>
    {#
      # Rendering blocks
      #}
    {% for section in sections %}
        <!-- must reside in partials/blocks/{name_of_group} -->
        {% partial 'blocks/homepage/' ~ section._group data=section %}
    {% endfor %}

  </main>

  {% partial 'footer' %}
  {% scripts %}
</body>
</html>