[staticPage]
useContent = 0
default = 0

[staticMenu]
code = "main-menu"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "news-post"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news-post"
postPage = "news-post"
==
<?php
function onEnd()
{
  // Optional - set the page title to the post title
  if ($this->post)
    $this->page->title = $this->post->title;
}
?>
==
{% set post = blogPost.post %}

{% partial 'head' %}
<body>

  {% partial 'header' %}

  <main>

    <div class="bg-tgi-darkblue flex flex-col pb-48">
      <div class="text-center pt-40 pb-8 max-w-xl mx-auto">
        <div class="text-white text-center text-xl mb-0">
          Home&nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;News
        </div>
      </div>
    </div>
    {% if post.featured_images.count %}
    <div class="container max-w-screen-lg mx-auto -mt-48">
    {% for image in post.featured_images %}
        <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" class="rounded-3xl" />
    {% endfor %}
    </div>
    {% endif %}
    <div class="bg-white pt-10 pb-24">
      <div class="container max-w-prose mx-auto">
        <div class="prose">
          <h1 class="text-[2.25rem] font-bold leading-tight mb-4">
            {{ post.title }}
          </h1>
          {% if post.published_at %}
          <div class="mt-4 mb-6 text-slate-500">{{ post.published_at|date("j F Y") }}</div>
          {% endif %}

          {% if post.content_html %}
          {{ post.content_html | raw }}
          {% endif %}
        </div>
      </div>
    </div>

    {% set posts = blogPosts.posts %}
    {% if posts %}
    <section class="py-12 lg:py-24 bg-slate-100">
      <div class="container max-w-screen-xl px-4 lg:px-8 mx-auto">
        <div class="mb-8">
          <h3 class="text-3xl lg:text-4xl text-tgi-darkblue font-black">{{ 'Other News'|_ }}</h3>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
          {% for post in posts %}
          <a
            href="{{ post.url }}"
            class="block rounded-xl lg:rounded-3xl bg-white hover:shadow-lg hover:-translate-y-1 transition duration-300"
          >
            <div class="aspect-w-16 aspect-h-9 rounded-xl lg:rounded-2xl xl:rounded-3xl">
              {% if post.featured_images.count %}
              {% for image in post.featured_images %}
                  <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" class="rounded-xl lg:rounded-2xl xl:rounded-3xl" />
              {% endfor %}
              {% endif %}
            </div>
            <div class="p-6">
              <h4 class="text-slate-700 font-semibold text-lg leading-tight">
                {{ post.title }}
              </h4>
              <div class="text-slate-500 text-sm mt-2">{{ post.published_at|date("j F Y") }}</div>
            </div>
          </a>
          {% else %}
            <div class="no-data">{{ blogPosts.noPostsMessage }}</div>
          {% endfor %}
        </div>

      </div>
    </section>
    {% endif %}

  </main>

  {% partial 'footer' %}
  {% scripts %}
</body>
</html>