[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"
==
<!DOCTYPE html>
<html lang="{{ this.page.activeLocale ?: 'en' }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>

    <style type="postcss">
    ::selection {
        @apply text-white bg-blue-300;
    }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}" />
    <link rel="stylesheet" href="{{ 'assets/styles.css'|theme }}" />
    {% styles %}
</head>
<body>
  {#
    # Repeater definitions
    #}
  {repeater
    name="sections"
    groups="themes/blocks/meta/sections.yaml"
    tab="Blocks"
    prompt="Add new section"
    style="accordion"
  }
    {variable name="_dummy" type="text"}{/variable}
  {/repeater}

  {% partial 'header' %}

  <main>
    {#
      # Rendering blocks
      #}
    {% for section in sections %}
        <!-- must reside in partials/blocks/{name_of_group} -->
        {% partial 'blocks/' ~ section._group data=section %}
    {% endfor %}

        <div class="bg-tgi-darkblue flex flex-col pb-48">
          <div class="text-center pt-40 pb-8 max-w-xl mx-auto">
            <div class="text-white text-center text-xl mb-0">
              Home&nbsp;&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;News
            </div>
          </div>
        </div>
        <div class="container max-w-screen-lg mx-auto -mt-48">
          <img src="{{ 'assets/images/content/news-img-01.jpg'|theme }}" alt="" class="rounded-3xl" />
        </div>
        <div class="bg-white pt-10 pb-24">
          <div class="container max-w-prose mx-auto">
            <div class="prose">
              <h1 class="text-[2.25rem] font-bold leading-tight mb-4">
                Vaksinasi Covid - 19 Regional Office 1 Jambi
              </h1>
              <div class="mt-4 mb-6 text-slate-500">Kamis, 18 Maret 2021</div>
              <p>
                Pada hari Kamis, 18 Maret 2021 bertempat di kantor TGI wilayah Jambi,
                diselenggarakan vaksinasi bagi pegawai TGI wilayah Jambi, pelaksanaan vaksinasi ini
                merupakan rangkaian dari program Vaksinasi Nasional Covid-19 bagi 181,5 juta
                penduduk Indonesia dengan target pelaksanaan selama 1 tahun. TGI kantor wilayah
                Jambi ditunjuk menjadi salah satu Perusahaan yang ada di Jambi dalam mengambil
                bagian turut menyukseskan kegiatan vaksinasi Nasional.
              </p>
            </div>
          </div>
        </div>
        <section class="py-24 bg-slate-100">
          <div class="container max-w-screen-xl px-6 mx-auto">
            <div class="mb-8">
              <h3 class="text-4xl text-tgi-darkblue font-black">Berita Lainnya</h3>
            </div>
            <div class="grid grid-cols-3 gap-8">
              <a
                href="#"
                class="block rounded-3xl bg-white hover:shadow-lg hover:-translate-y-1 transition duration-300"
              >
                <div class="aspect-w-16 aspect-h-9 rounded-3xl">
                  <img src="{{ 'assets/images/content/news-img-01.jpg'|theme }}" alt="" class="rounded-3xl" />
                </div>
                <div class="p-6">
                  <h4 class="text-slate-700 font-semibold text-lg leading-tight">
                    Vaksinasi Covid -19 Regional Office 1 Jambi
                  </h4>
                  <div class="text-slate-500 text-sm mt-2">18 Maret 2021</div>
                </div>
              </a>
              <a
                href="#"
                class="block rounded-3xl bg-white hover:shadow-lg hover:-translate-y-1 transition duration-300"
              >
                <div class="aspect-w-16 aspect-h-9 rounded-3xl">
                  <img src="{{ 'assets/images/content/news-img-03.jpg'|theme }}" alt="" class="rounded-3xl" />
                </div>
                <div class="p-6">
                  <h4 class="text-slate-700 font-semibold text-lg leading-tight">
                    Simbolis Penyerahan Klaim Asuransi KP 233
                  </h4>
                  <div class="text-slate-500 text-sm mt-2">2 Maret 2021</div>
                </div>
              </a>
              <a
                href="#"
                class="block rounded-3xl bg-white hover:shadow-lg hover:-translate-y-1 transition duration-300"
              >
                <div class="aspect-w-16 aspect-h-9 rounded-3xl">
                <img src="{{ 'assets/images/content/news-img-02.jpg'|theme }}" alt="" class="rounded-3xl" />
                </div>
                <div class="p-6">
                  <h4 class="text-slate-700 font-semibold text-lg leading-tight">
                    Business Gathering 2021 - Evolving with TGI business in the New Normal
                  </h4>
                  <div class="text-slate-500 text-sm mt-2">01 Maret 2021</div>
                </div>
              </a>
            </div>
          </div>
        </section>

    <div class="relative min-h-[400px] bg-tgi-darkblue flex flex-col justify-end">
      <div class="text-center pb-16 relative z-10">
        <h1 class="text-white text-5xl font-extrabold">About Us</h1>
      </div>
      <img src="{{ 'assets/images/banner/page-banner-02.jpg'|theme }}" alt="" class="absolute inset-0 w-full h-full object-cover mix-blend-overlay -z-0" />
    </div>

    <section id="our-business" class="py-24 scroll-mt-24">
      <div class="container px-8 max-w-screen-xl mx-auto">
        <div class="flex">
          <div class="w-1/2">
            <h2 class="text-4xl font-bold text-tgi-darkblue mb-8">Our Business</h2>
            <div class="prose text-justify">
              <p>
                PT Transportasi Gas Indonesia (TGI), selanjutnya disebut “TGI” didirikan pada
                tahun 2002 sebagai perusahaan patungan antara PT Perusahaan Gas Negara Tbk,
                Transasia Pipeline Pvt. Ltd (“Transasia”) dan Yayasan Kesejahteraan Pegawai dan
                Pensiunan PGN (“YKPP PGN”) dengan proporsi saham masing-masing sebesar 59,87%,
                40% dan 0,13%.
              </p>
              <p>
                Sebagai pemilik dan pengelola jaringan pipa gas bumi di Indonesia dengan total
                jaringan pipa lebih dari 1.000 km, TGI menjalankan bisnis dengan fokus pada
                transportasi gas bumi untuk pasar domestik yaitu Sumatra dan Batam serta untuk
                pasar internasional seperti Singapura.
              </p>
              <p>
                Demi konsistensi dalam memberikan nilai-nilai terbaik, TGI menetapkan landasan
                filosofi usaha yaitu “Menghubungkan Energi untuk Sinergi”. Kata “Menghubungkan”
                menjadi representasi dari hubungan baik yang tercipta dan terjaga dengan adanya
                transportasi pipa gas serta dalam hubungan antar pribadi. Kata “Energi”
                merepresentasikan sumber daya alam, kekuatan mental dan spritual. Sementara kata
                “Sinergi” merepresentasikan keyakinan TGI sebagai entitas untuk terus bertumbuh
                secara berkelanjutan melalui sinergi yang terjalin dengan positif.
              </p>
              <p>
                TGI telah membuktikan reputasi yang kuat melalui layanan yang handal dalam
                perjalanan usaha selama 2 dekade. Pengalaman TGI didukung dengan aset sumber
                daya manusia dengan kapabilitas dan profesionalitas berkelas dunia, yang
                menggerakkan TGI dalam meningkatkan kinerjanya dari tahun ke tahun. TGI
                senantiasa menjunjung prinsip kehati-hatian dan tanggung jawab terhadap
                pelestarian lingkungan. Prinsip tersebut menjadi fondasi kuat yang menopang
                langkah TGI dalam terus melaju memberikan layanan andal dan terpercaya.
              </p>
              <p>
                Kualitas SDM yang mumpuni menjadi kunci TGI dalam mewujudkan komitmen besar
                untuk beroperasi tanpa henti (zero-downtime). Keberhasilan TGI melakukan
                reparasi pipa 28 inci di lepas pantai tanpa menghentikan pasokan gas ke
                Singapura merupakan bukti keandalan dan kualitas kerja TGI dalam memberikan
                pelayanan terbaik. Keberhasilan tersebut juga menjadi pembuktian komitmen TGI
                yang tinggi terhadap para pemangku kepentingan, yaitu Indonesia dan Singapura,
                yang sangat bergantung pada jaringan pipa gas sebagai sumber utama pasokan gas.
              </p>
            </div>
          </div>
          <div class="w-1/2 pl-24">
            <img src="{{ 'assets/images/content/about-img-01.jpg'|theme }}" alt="" class="rounded-[48px]" />
          </div>
        </div>
      </div>
    </section>

  </main>

  {% partial 'footer' %}
  {% scripts %}
</body>
</html>