[viewBag]

[staticMenu socialMedia]
code = "social-media"

[staticMenu footerMenu]
code = "footer-menu"
==
<footer class="bg-tgi-darkblue border-t-[12px] border-tgi-green">
  <div class="container max-w-screen-xl px-4 lg:px-6 mx-auto">
    <div class="flex flex-wrap pb-8 lg:flex-nowrap lg:pb-10">
      <div class="w-full lg:w-1/2 lg:pr-8">
        <div class="flex lg:items-center py-10">
          <div class="flex items-start lg:items-center">
            <img src="{{ 'assets/images/logo-tgi-white.svg'|theme }}" alt="" class="h-auto w-[72px] md:w-[80px] lg:w-[92px] xl:w-[100px] 3xl:w-[120px]" />
          </div>
          <div class="pl-6 lg:pl-8">
            <div class="text-white">
              <h4 class="font-bold">PT Transportasi Gas Indonesia</h4>
              <div class="text-sm">
                JB Tower, 21st Floor<br />
                Jl. Kebon Sirih Raya, No. 48-50<br />
                Jakarta 10110, Indonesia<br />
                P : <a href="tel:622150852000" target="_blank" class="text-white hover:underline">+62 21-5085-2000</a><br />
                E : <a href="mailto:corporatesecretary@tgi.co.id" target="_blank" class="text-white hover:underline">corporatesecretary@tgi.co.id</a>
              </div>
            </div>
            <div class="flex gap-x-6 mt-4">
              {% partial 'social-media' items=socialMedia.menuItems class='inline-flex gap-x-2' %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        {% partial 'footer-menu' items=footerMenu.menuItems %}
        <div class="lg:hidden">
          <div tabindex="0" class="collapse collapse-arrow bg-black/20 rounded-xl">
            <input type="checkbox" class="min-h-[40px]" />
            <div class="collapse-title text-base text-white font-medium py-3 min-h-[40px]">
              Site Map
            </div>
            <div class="collapse-content text-white">
              <ul class="flex flex-col gap-3 pt-4 text-sm">
                <li class="">
                  <a href="/" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Home
                  </a>
                </li>
                <li>
                  <a href="/about" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    About Us
                  </a>
                  <ul class="pt-3 pb-3 pl-5 flex flex-col gap-3">
                    <li><a href="/about#our-business" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Our Business</a></li>
                    <li><a href="/about#vision-mission" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Vision & Mission</a></li>
                    <li><a href="/about#shareholders#" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Shareholder</a></li>
                    <li><a href="/about#top-management" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Top Management</a></li>
                    <li><a href="/about#corporate-identity" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Corporate Identity</a></li>
                    <li><a href="/about#corporate-culture" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Corporate Culture</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/operation-services" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Operation & Services
                  </a>
                  <ul class="pt-3 pb-3 pl-5 flex flex-col gap-3">
                    <li><a href="/operation-services#overview" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Overview</a></li>
                    <li><a href="/operation-services#gas-pipeline-system" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Gas Pipeline System</a></li>
                    <li><a href="/operation-services#pipeline-information" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Pipeline Information</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/operation-services" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Corporate Activities
                  </a>
                  <ul class="pt-3 pb-3 pl-5 flex flex-col gap-3">
                    <li><a href="/operation-services#gcg" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Good Corporate Governance (GCG)</a></li>
                    <li><a href="/operation-services#hsse" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Health Safety Security & Environment (HSSE)</a></li>
                    <li><a href="/operation-services#csr" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Corporate Social Responsibility (CSR)</a></li>
                  </ul>
                </li>
                <li>
                  <div href="#" class="inline-block text-white relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Investor Relations
                  </div>
                  <ul class="pt-3 pb-3 pl-5 flex flex-col gap-3">
                    <li><a href="/annual-reports" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Annual Reports</a></li>
                    <li><a href="/become-our-customer" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">How to Become Our Customer (SRF)</a></li>
                  </ul>
                </li>
                <li>
                  <div href="#" class="inline-block text-white relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Information
                  </div>
                  <ul class="pt-3 pb-3 pl-5 flex flex-col gap-3">
                    <li><a href="/news" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">News</a></li>
                    <li><a href="/procurement" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\2514'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">Procurement</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/contact-us" class="inline-block text-white hover:underline hover:text-tgi-amber relative pl-5 before:content-['\25B6'] before:absolute before:left-0 before:text-[10px] before:text-tgi-amber">
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-black/10 py-4">
    <div class="text-white text-center text-xs">
      All Rights Reserved © 2023. Transgasindo
    </div>
  </div>
</footer>