[alternateHrefLangElements]

[viewBag]
==
{% set pageTitle = this.page.meta_title != '' ? this.page.meta_title : this.page.title %}
<!DOCTYPE html>
<html lang="{{ this.page.activeLocale ?: 'en' }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ pageTitle }}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>{{ pageTitle }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest'|theme }}">

    <style type="postcss">
    ::selection {
        @apply text-white bg-blue-300;
    }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}" />
    <link rel="stylesheet" href="{{ 'assets/styles.css'|theme }}" />
    {% styles %}
</head>