==
{#
 # Initialize variables
 #}
{% set sectionId = data.sectionId != '' ? data.sectionId : '' %}
{% set shareholders = data.shareholders != '' ? data.shareholders:[] %}

{#
 # Render
 #}
{% spaceless %}
<section id="{{ sectionId }}" class="py-10 scroll-mt-20 lg:py-12 xl:py-16 2xl:py-24 xl:scroll-mt-16 bg-white">
  <div class="container px-4 md:px-8 max-w-screen-xl mx-auto">
    {% if data.headline %}
    <h2 class="text-3xl md:text-3xl md:text-4xl font-bold text-tgi-darkblue mb-8">{{ data.headline }}</h2>
    {% endif %}
    {% if data.image %}
    <div>
      <img src="{{ data.image | media }}" alt="" class="" />
    </div>
    {% endif %}

    {% if data.shareholders %}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-8 mt-16">
      {% for block in shareholders %}
        <div class="text-center max-w-[280px] mx-auto">
          <div class="inline-flex items-baseline gap-x-3">
            <span class="text-3xl lg:text-[48px] text-tgi-darkblue font-bold">{{ block.percentage }}</span>
            <span class="text-slate-400 text-2xl lg:text-[32px]">%</span>
          </div>
          <div class="text-tgi-green md:text-sm lg:text-base font-medium">{{ block.shareholder }}</div>
          <div class="text-slate-400 md:text-sm lg:text-base font-medium">{{ block.shares }}</div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endspaceless %}