{% set image = content.image != '' ? (content.image | media ):image %}
<div class="swiper-slide min-h-[600px] flex items-center bg-cover" style="background-image: url({{ image }});">
  <div class="container mx-auto max-w-screen-xl px-8 mx-auto h-full relative z-auto">
  <div class="flex h-full items-end">
    <div class="text-white p-12 bg-black/60 max-w-3xl mb-12 text-left rounded-2xl">
      {% if content.headline %}
        <h2 class="font-extrabold text-[52px] leading-[1.2em] mb-4">{{ content.headline }}</h2>
      {% endif %}
      {% if content.sub_headline %}
      <p class="text-3xl">{{ content.sub_headline }}</p>
      {% endif %}
      {% if content.button_link %}
      <div class="mt-8">
        <a href="{{ content.button_link }}" class="btn btn-lg rounded-full bg-tgi-green px-10 hover:bg-green-500">{{ content.button_text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
</div>